/*............ Bootsrap breakpoints ................*/

/*  From 0px to sm  */
@media only screen and (max-width: 576px){  

    .cuerpo-copete {
        text-align: center;
    }
}

/*  From sm to md  */
@media only screen and (min-width: 577px) and (max-width: 768px){  

    .cuerpo-copete {
        text-align: center;
    }
    
    .btn-catalogo {
        
    }
}

/*  From md to lg  */
@media only screen and (min-width: 769px) and (max-width: 992px){  


}

/*  From lg to xl  */
@media only screen and (min-width: 993px) and (max-width: 1200px){  


}

/*  From lg and up  */
@media only screen and (min-width: 1201px){  

    
}

/*............ Random breakpoints ................*/

@media only screen and (max-width: 992px){
    titulo.seccion {
        font-size: 1.5rem !important;
    }
}