/* Para resaltar la sección actual en el navbar */
.navbar-nav a:nth-child(5) {
    font-weight: bold;
}

/*  Nuestro servicio    */

.servicio-logo {
    width: 90%;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}
